body {
  background-color: #c0c0c0;
}

thead {
  background-color: #f7b35f;
  color: #7c4400;
}

tbody {
  background-color: white;
  color: #7c4400;
}

.create-btn {
  width: 100%;
  height: 60%;
  background-color: rgb(51, 128, 0);
  color: white;
  font-weight: bold;
}

.details-btn {
  width: 100%;
  height: 80%;
  background-color: rgb(0, 77, 128);
  color: white;
  font-weight: bold;
}

.history-btn {
  width: 100%;
  height: 80%;
  background-color: rgb(128, 105, 0);
  color: white;
  font-weight: bold;
}

.reset-btn {
  width: 20%;
  height: 5%;
  background-color: rgb(197, 22, 22);
  color: white;
  font-weight: bold;
}

.admin-btn {
  width: 100%;
  height: 80%;
  background-color: rgb(11, 76, 160);
  color: white;
  font-weight: bold;
}