body {
  background-color: #c0c0c0;
}

thead {
  background-color: #f7b35f;
  color: #7c4400;
}

tbody {
  background-color: white;
  color: #7c4400;
}

.create-btn {
  width: 20%;
  height: 8%;
  background-color: green;
  color: white;
  font-weight: bold;
}