.container-flex {
  height: 100vh;
}

body {
  background-color: #c0c0c0;
}

.signin-btn {
  width: 50%;
  height: 20%;
  background-color: rgb(51, 128, 0);
  color: white;
  font-weight: bold;
}

.signup-btn {
  width: 50%;
  height: 20%;
  background-color: rgb(255, 255, 255);
  color: rgb(51, 128, 0);
  font-weight: bold;
}