<html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User History</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= `${process.env.APP_URL}/style/details.css` %>">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap" rel="stylesheet">

</head>

<body>
  <section class="container">
    <section class="container-flex d-flex flex-column justify-content-center align-items-center">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">PLAYER CHOICE</th>
            <th scope="col">OPPONENT'S CHOICE</th>
            <th scope="col">RESULT</th>
            <th scope="col">USER ID</th>
          </tr>
        </thead>
        <tbody id="listHistories">
        </tbody>
      </table>
      <form action="http://localhost:3001/dashboard">
        <button class="btn mt-3">BACK</button>
      </form>
    </section>

  </section>

  <script src="<%= `${process.env.APP_URL}/script/history.js` %>"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</body>

</html>