<html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= `${process.env.APP_URL}/style/dashboard.css` %>">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,700;1,800&display=swap" rel="stylesheet">

</head>

<body>
  <section class="container">
    <section class="container-flex d-flex flex-column justify-content-center align-items-center">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">USERNAME</th>
            <th scope="col">PASSWORD</th>
            <th scope="col">EDIT</th>
            <th scope="col">ADD BIODATA</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
          <tbody id="listUsers" class="tables">
          </tbody>
        </tbody>
      </table>
      <form action="http://localhost:3000/createUser">
        <button class="create-btn btn mt-5">CREATE</button>
      </form>
      <form action="http://localhost:3000/alldetails">
        <button id="toAllDetails" class="details-btn btn mt-3">DETAILS</button>
      </form>
      <form action="http://localhost:3000/history">
        <button id="toAllHistory" class="history-btn btn mt-3">HISTORY</button>
      </form>
      <button id="reset" class="reset-btn btn mt-3">RESET DB</button>
    </section>


  </section>

  <script src="<%= `${process.env.APP_URL}/script/dashboard.js` %>"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</body>

</html>